<p style="color: green"><%= notice %></p>

<%= render @writing %>

<div>
  <%= link_to "Edit this writing", edit_writing_path(@writing) %> |
  <%= link_to "Back to writings", writings_path %>

  <%= button_to "Destroy this writing", @writing, method: :delete %>
</div>
