<div class="comment-<%= comment.id %> container" style="border: 1px solid black; padding: 1em; margin: 1em;" >
    <!-- User Name -->
    <%= comment.user.name %><br />

    <!-- Time when comment Posted -->
    <span>Posted <%= time_ago_in_words(comment.created_at) %> </span>

    <!-- Delete Button - Only shown to author of comment -->
    <% if current_user == comment.user %>
        <div class="button-group float-end">
            <%= button_to "Delete", [question, comment], class:"btn btn-danger", method: :delete %>
        </div>
    <% end %>

    <!-- Body of Comment -->
    <hr />
    <%= comment.body %>
</div>