<div class="container">
    <h1 class="text-center">Administrator</h1>
    <%= render 'admin/nav_links' %>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Question</th>
                <th scope="col">Author</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>

        <tbody>
            <% @questions.each do |question| %>
                <tr>
                    <th scope="row"><%= question.id %></th>
                    <td><%= link_to question.title.truncate(15), admin_question_path(question) %></td>
                    <td><%= question.user.name %></td>
                    <td><%= pluralize(question.comments.size, "Comment") %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>